---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PageCard from "../components/PageCard.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("pages")).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container">
      <div class="mb-4 text-center text-lg">
        Welcome to <span class="text-peach">logan.soy</span> my dumping ground for random wepages I make for fun. For my portfolio/blog site visit 
        <a href="https://lcroberts.dev" class="link" target="_blank">lcroberts.dev</a>.
      </div>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <PageCard page={post} />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
