---
const today = new Date();
---

<footer class="flex justify-center bg-crust p-2">
  <div>
    &copy; <span id="copyright-year">{today.getFullYear()}</span> Logan Roberts. All rights reserved.
  </div>
</footer>
