---
import { Image } from 'astro:assets'
import github from '../assets/logos/github-mark.svg';
import githubDark from '../assets/logos/github-mark-white.svg';
import linked from '../assets/logos/InBug-Black.png';
import linkedDark from '../assets/logos/InBug-White.png';
---

<a href="https://www.linkedin.com/in/logan-roberts-075659266/" target="_blank" class="duration-150 transition-[scale] origin-center hover:scale-125">
  <Image src={linked} alt="LinkedIn Logo" class="dark:hidden w-5 h-5" />
  <Image src={linkedDark} alt="LinkedIn Logo" class="hidden dark:block w-5 h-5" />
</a>
<a href="https://github.com/lcroberts" target="_blank" class="duration-150 transition-[scale] origin-center hover:scale-125">
  <Image src={github} alt="Github Logo" class="dark:hidden w-5 h-5" />
  <Image src={githubDark} alt="Github Logo" class="hidden dark:block w-5 h-5" />
</a>
